





<div class="debugx hidden-sm hidden-xs" style="overflow: hidden;">




	<div class="kak-bg01">
		<div class="container">

			<div class="row">
				<div class="col-md-4">



					<div class="debugx" style="overflow: hidden;">

						<div class="band band--red">
							<div class="band-skew band-skew--right" style="z-index:2; background-color: rgba(0, 0, 0, 0.6);">
								<div class="band-inner">


									<div class="text-center">
										<h2 class="f-400" style="font-size: 40px; color: #ffffff;">
											เว็บไซต์พร้อมใช้<br>
											เว็บสำเร็จรูป
										</h2>

										<h3 class="f-400 page-header" style="font-size: 20px; color: #F8D443; padding-bottom: 18px; border-bottom: 5px solid #eee;">เหตุผลที่ต้องเลือกใช้เว็บสำเร็จรูป</h3>


										<h2 class="f-400 font-kanit" style="font-size: 40px; color: #f00;">
											WEBiSME.COM
										</h2>

										<h3 class="f-400" style="font-size: 20px; color: #ffffff;">
											>> สมัครใช้งานเว็บไซต์ <span style="color: #BFFF00;">ฟรี !</span>
										</h3>

										<br>
										<br>
										<br>
										<br>
										<br>
										<br>
										<br>
										<br>
										<br>
										<br>
										<br>
										<br>
										<br>
										<br>
										<br>

									</div>


								</div>
							</div>
						</div>

						<div class="band band--green">
							<div class="band-skew band-skew--right" style="z-index:3; background-color: #F8D443;">
								<div class="band-inner">

									<div style="margin-top: -110px;">

										<div>
											<h2 class="font-kanit font" style="font-size: 100px; color: #ffffff; opacity: 0.65;">02</h2>
										</div>

										<h3 class="f-400" style="font-size: 25px; color: #ffffff; margin-top: 0px;margin-bottom: 10px;">						
											Responsive
										</h3>

										<h3 class="f-400" style="font-size: 18px; color: #ffffff; margin-top: 0px;margin-bottom: 0px;"><u>Mobile Firenly</u></h3>

										<h2 class="f-500" style="font-size: 60px; color: #332735; margin-top: 10px;margin-bottom: 0px;">
											รองรับ
										</h2>

										<h2 class="f-400" style="font-size: 35px; color: #332735; margin-top: 0px;margin-bottom: 0px;">
											ทุกหน้าจอ
										</h2>

										<h3 class="f-00" style="font-size: 16px; color: #332735;margin-top: 10px;margin-bottom: 5px;">รองรับการเข้าชมเว็บไซต์ทุกหน้าจอ 100%</h3>

										<h3 class="f-400" style="font-size: 16px; color: #ffffff; line-height: 1.3;margin-top: 0px;margin-bottom: 0px;">ออกแบบเว็บไซต์ให้รองรับการใช้งาน<br>
											ทุกเพลตฟอร์มของการเข้าชมเว็บ<br>
										ใช้งานได้ทุกที่ทุกเวลา</h3>
										<br>
										<br>
									</div>


								</div>
							</div>
						</div>


					</div>



				</div>
				<div class="col-md-4">



				</div>
				<div class="col-md-4">

					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>


					<div class="debugx" style="overflow: hidden;">



						<div class="band band--red">
							<div class="band-skew band-skew--right" style="z-index:2; background-color: rgba(228, 91, 52, 0.8);">
								<div class="band-inner">

									<div class="text-right">
										<h3 class="f-400" style="font-size: 20px; color: #333333;"><u>Unlimited</u></h3>
									</div>
									<div class="text-center">
										<h2 class="f-400" style="font-size: 55px; color: #ffffff;">							
											ไม่จำกัด
										</h2>
										<h3 class="f-400" style="font-size: 25px; color: #ffffff; margin-top: 0px;margin-bottom: 20px;">
											จำนวนข้อมูล
										</h3>
									</div>

									<p class="f-400" style="font-size: 16px; color: #000000;">
										ลงข้อมูลเนื้อหาในเว็บไซต์ได้ไม่จำกัด
									</p>

									<p class="f-400" style="font-size: 16px; color: #ffffff;">
										ให้สมาชิกที่ต้องการใช้งานเว็บไซต์
										สามารถสมัครใช้งานฟรี
										รวมไปถึงข้อมูลที่ลงในเว็บไซต์
										ไมมีการจำกัดข้อมูลที่ลงในเว็บไซต์
									</p>
									<div class="text-right">
										<h2 class="font-kanit font" style="font-size: 100px; color: #ffffff; opacity: 0.65;">01</h2>
									</div>

								</div>
							</div>
						</div>

						<br>
						<br>
						<br>
						<br>


					</div>




				</div>



			</div>

		</div>
	</div>




	<div class="band band--red">
		<div class="band-skew band-skew--right" style="z-index:2; margin-top: -465px;padding-bottom: 4%;">
			<div class="band-inner">
				
				<div class="row">
					<div class="col-md-5">
						
					</div>
					<div class="col-md-7">
						<div class="row">
							<div class="col-md-3">
								<div class="text-right">
									<h2 class="font-kanit font" style="font-size: 100px; color: #ffffff; opacity: 0.65;">03</h2>
								</div>
							</div>
							<div class="col-md-9">
								<h2 class="f-400" style="font-size: 35px; color: #332634;">
									รูปแบบเว็บไซต์โดดเด่น<br>
									สวยงาม ทันสมัย
								</h2>
								<h3 class="f-400" style="font-size: 20px; color: #545454;margin-top: 10px;margin-bottom: 10px;"><u>Web Template</u></h3>
								
								<p class="f-400" style="font-size: 18px; color: #868686;">
									เว็บเทมเพลตสวยๆ มีให้เลือกมากมายกว่า 2,000 รูปแบบ<br>
									ออกแบบเว็บไซต์แทมเพลตใหม่ เหมาะกับทุกธุรกิจ<br>
									โดยทีมงานมืออาชีพ มากประสบการณ์
								</p>
							</div>
						</div>
						<div class="clearfix"></div>
						<br>
						<div class="row">
							<div class="col-md-3">
								<div class="text-right">
									<h2 class="font-kanit font" style="font-size: 100px; color: #ffffff; opacity: 0.65;">04</h2>
								</div>
							</div>
							<div class="col-md-9">
								<h2 class="f-400" style="font-size: 35px; color: #332634;">
									ใช้ง่าย สะดวก ทุกขั้นตอน<br>
									ในการจัดการเว็บไซต์
								</h2>
								<h3 class="f-400" style="font-size: 20px; color: #545454;margin-top: 10px;margin-bottom: 10px;"><u>Website Back End (System Management Content)</u></h3>
								
								<p class="f-400" style="font-size: 18px; color: #868686;">
									ด้วยประสบการณ์จากผู้ใช้โดยตรง ทีมงานเราพัฒนามาตลอด<br>
									เพื่อให้เว็บพร้อมใช้ webisme.com เป็นเว็บไซต์สำเร็จรูปที่ดีที่สุด<br>
									สะดวก ใช้ง่าย ฟังก์ชั่นครบ รวดเร็ว และสวยงามได้ตามใจสั่ง
								</p>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>


	<div class="container">
		<div class="row">

			<div class="col-md-6">
				<img class="img-responsive" src="assets/images/mobile.png" alt="รองรับการเข้าชมเว็บไซต์ทุกหน้าจอ 100%" title="รองรับการเข้าชมเว็บไซต์ทุกหน้าจอ 100%" style="position: relative;z-index: 3;margin-top: -280px;">
			</div>
			<div class="col-md-6">
			</div>
			<div class="clearfix"></div>

			<br>
			<br>
			<br>
			<br>
		</div>
	</div>

	<div class="band band--green">
		<div class="band-skew band-skew--left">
			<div class="band-inner">

				<div class="row">
					<div class="col-md-7">
						<div class="row">
							<div class="col-md-3">
								<div class="text-right">
									<h2 class="font-kanit font" style="font-size: 100px; color: #ffffff; opacity: 0.65;">05</h2>
								</div>
							</div>
							<div class="col-md-9">
								<h2 class="f-400" style="font-size: 35px; color: #000000;">
									รองรับ SEO เต็มรูปแบบ
								</h2>
								<h3 class="f-400" style="font-size: 20px; color: #000000;margin-top: 10px;margin-bottom: 10px;"><u>Search Engine Optimization</u></h3>
								
								<p class="f-400" style="font-size: 18px; color: #ffffff;">
									ติด Search Engine ได้ง่าย ส่งผลให้เว็บคุณมีคนเข้าชม<br>
									เพื่อช่วยเพิ่มโอกาสในการสร้างฐานลูกค้าใหม่<br>
									ง่ายต่อการทำตลาด SEO รองรับการเพิ่มคะแนนใน Google<br>
									ทั้งในรูปแบบ Mobile และ Desktop
								</p>
							</div>
							
						</div>
					</div>
					<div class="col-md-5">
						
					</div>
				</div>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>

			</div>
		</div>
	</div>

</div>


<div class="container hidden-sm hidden-xs">
	<div class="row">
		<div class="col-md-6"></div>
		<div class="col-md-6">
			<img class="img-responsive" src="assets/images/seo.png" alt="รองรับการเข้าชมเว็บไซต์ทุกหน้าจอ 100%" title="รองรับการเข้าชมเว็บไซต์ทุกหน้าจอ 100%" style="position: relative;z-index: 10; margin-top: -535px;">
		</div>
	</div>
</div>



<section class="hidden-lg hidden-md">
	<div class="container">

		<div class="text-center">
			<h2 class="f-400" style="font-size: 40px; color: #333333;">
				เว็บไซต์พร้อมใช้<br>
				เว็บสำเร็จรูป
			</h2>

			<h3 class="f-400 page-header" style="font-size: 20px; color: #F8D443; padding-bottom: 18px; border-bottom: 5px solid #eee;">เหตุผลที่ต้องเลือกใช้เว็บสำเร็จรูป</h3>


			<h2 class="f-400 font-kanit" style="font-size: 40px; color: #f00;">
				WEBiSME.COM
			</h2>

			<h3 class="f-400" style="font-size: 20px; color: #333333;">
				>> สมัครใช้งานเว็บไซต์ <span style="color: #009688;">ฟรี !</span>
			</h3>
		</div>

		<br>

		<div class="row">


			<div class="col-xs-3">
				<div class="text-right">
					<h2 class="font-kanit font" style="font-size: 50px; color: #009688; opacity: 0.65;">01</h2>
				</div>
			</div>
			<div class="col-xs-9">
				<h2 class="f-400" style="font-size: 22px; color: #332634;">
					ลงข้อมูลเนื้อหาในเว็บไซต์<br>
					ได้ไม่จำกัด
				</h2>
				<h3 class="f-400" style="font-size: 20px; color: #f44336;margin-top: 10px;margin-bottom: 10px;"><u>Unlimited</u></h3>

				<p class="f-400" style="font-size: 16px; color: #868686;">
					ห้สมาชิกที่ต้องการใช้งานเว็บไซต์
					สามารถสมัครใช้งานฟรี
					รวมไปถึงข้อมูลที่ลงในเว็บไซต์
					ไมมีการจำกัดข้อมูลที่ลงในเว็บไซต์
				</p>
			</div>

			<div class="clearfix"></div>


			<div class="col-xs-3">
				<div class="text-right">
					<h2 class="font-kanit font" style="font-size: 50px; color: #009688; opacity: 0.65;">02</h2>
				</div>
			</div>
			<div class="col-xs-9">
				<h2 class="f-400" style="font-size: 22px; color: #332634;">
					รองรับการเข้าชมเว็บไซต์<br>
					ทุกหน้าจอ 100%
				</h2>
				<h3 class="f-400" style="font-size: 20px; color: #f44336;margin-top: 10px;margin-bottom: 10px;"><u>Mobile Firenly</u></h3>

				<p class="f-400" style="font-size: 16px; color: #868686;">
					ออกแบบเว็บไซต์ให้รองรับการใช้งาน
					ทุกเพลตฟอร์มของการเข้าชมเว็บ
					ใช้งานได้ทุกที่ทุกเวลา
				</p>
			</div>

			<div class="clearfix"></div>



			<div class="col-xs-3">
				<div class="text-right">
					<h2 class="font-kanit font" style="font-size: 50px; color: #009688; opacity: 0.65;">03</h2>
				</div>
			</div>
			<div class="col-xs-9">
				<h2 class="f-400" style="font-size: 22px; color: #332634;">
					รูปแบบเว็บไซต์โดดเด่น<br>
					สวยงาม ทันสมัย
				</h2>
				<h3 class="f-400" style="font-size: 20px; color: #f44336;margin-top: 10px;margin-bottom: 10px;"><u>Web Template</u></h3>

				<p class="f-400" style="font-size: 16px; color: #868686;">
					เว็บเทมเพลตสวยๆ มีให้เลือกมากมายกว่า 2,000 รูปแบบ
					ออกแบบเว็บไซต์แทมเพลตใหม่ เหมาะกับทุกธุรกิจ
					โดยทีมงานมืออาชีพ มากประสบการณ์
				</p>
			</div>

			<div class="clearfix"></div>



			<div class="col-xs-3">
				<div class="text-right">
					<h2 class="font-kanit font" style="font-size: 50px; color: #009688; opacity: 0.65;">04</h2>
				</div>
			</div>
			<div class="col-xs-9">
				<h2 class="f-400" style="font-size: 22px; color: #332634;">
					ใช้ง่าย สะดวก ทุกขั้นตอน<br>
					ในการจัดการเว็บไซต์
				</h2>
				<h3 class="f-400" style="font-size: 20px; color: #f44336;margin-top: 10px;margin-bottom: 10px;"><u>Website Back End (System Management Content)</u></h3>

				<p class="f-400" style="font-size: 16px; color: #868686;">
					ด้วยประสบการณ์จากผู้ใช้โดยตรง ทีมงานเราพัฒนามาตลอด
					เพื่อให้เว็บพร้อมใช้ webisme.com เป็นเว็บไซต์สำเร็จรูปที่ดีที่สุด
					สะดวก ใช้ง่าย ฟังก์ชั่นครบ รวดเร็ว และสวยงามได้ตามใจสั่ง
				</p>
			</div>

			<div class="clearfix"></div>

			<div class="col-xs-3">
				<div class="text-right">
					<h2 class="font-kanit font" style="font-size: 50px; color: #009688; opacity: 0.65;">05</h2>
				</div>
			</div>
			<div class="col-xs-9">
				<h2 class="f-400" style="font-size: 22px; color: #332634;">
					รองรับ SEO เต็มรูปแบบ
				</h2>
				<h3 class="f-400" style="font-size: 20px; color: #f44336;margin-top: 10px;margin-bottom: 10px;"><u>Search Engine Optimization</u></h3>

				<p class="f-400" style="font-size: 16px; color: #868686;">
					ติด Search Engine ได้ง่าย ส่งผลให้เว็บคุณมีคนเข้าชม
เพื่อช่วยเพิ่มโอกาสในการสร้างฐานลูกค้าใหม่
ง่ายต่อการทำตลาด SEO รองรับการเพิ่มคะแนนใน Google
ทั้งในรูปแบบ Mobile และ Desktop
				</p>
			</div>

			<div class="clearfix"></div>

		</div>
	</div>
</section>