 <!-- SLIDER START -->    


 <div id="bannerscollection_zoominout_opportune">
    <div class="myloader"></div>
    <!-- CONTENT -->
    <ul class="bannerscollection_zoominout_list">
    
        <li data-text-id="#bannerscollection_zoominout_photoText1" data-horizontalPosition="right" data-verticalPosition="top" data-initialZoom="0.77" data-finalZoom="1" data-autoPlay="10">
          <img src="assets/slide/slide-Home1.jpg" alt="" width="2500" height="1015" />
        </li>
        
        <li data-text-id="#bannerscollection_zoominout_photoText2" data-horizontalPosition="center" data-verticalPosition="center" data-initialZoom="1" data-finalZoom="0.77" data-duration="15" data-autoPlay="10">
          <img src="assets/slide/slide-Home2.jpg" alt="" width="2500" height="1015" />
        </li>
        
        <li data-text-id="#bannerscollection_zoominout_photoText3" data-initialZoom="0.77" data-finalZoom="1" data-horizontalPosition="left" data-verticalPosition="top">
          <img src="assets/slide/slide-Home3.jpg" alt="" width="2500" height="1015" />
        </li>
        
        <li data-text-id="#bannerscollection_zoominout_photoText4"  data-initialZoom="0.775" data-finalZoom="1" data-horizontalPosition="center" data-verticalPosition="bottom" data-duration="15">
          <img src="assets/slide/slide-Home4.jpg" alt="" width="2500" height="1015" />
        </li>
        
    </ul>    
    
   
    
   <!-- TEXTS -->
               <!--SLIDE 1--> 
               <div id="bannerscollection_zoominout_photoText1" class="bannerscollection_zoominout_texts">

                                      
                   <div class="bannerscollection_zoominout_text_line web-is-slide01-layer01" 
                   data-initial-left="1900"
                   data-initial-top="116"
                   data-final-left="220"
                   data-final-top="116"
                   data-duration="1.5"
                   data-fade-start="0"
                   data-delay="0.2"
                   data-intermediate-left="-1300"
                   data-intermediate-top="106"
                   data-intermediate-duration="4.5"
                   data-intermediate-delay="0.1"
                   data-intermediate-easing="easeInQuart">      
                   เว็บไซต์ ออกแบบให้มีสไตล์ ดูดี<br>
                   น่าเชื่อถือ บ่งบอกความเป็นธุรกิจคุณ
                   </div>
                   
                   
                   
                   <div class="bannerscollection_zoominout_text_line web-is-slide01-layer02" 
                   data-initial-left="-500" 
                   data-initial-top="210" 
                   data-final-left="297" 
                   data-final-top="210"                   
                   data-duration="1.5" 
                   data-fade-start="0" 
                   data-delay="0.2"
                   data-intermediate-left="2300" 
                   data-intermediate-top="200" 
                   data-intermediate-duration="4.5" 
                   data-intermediate-delay="0.1" 
                   data-intermediate-easing="easeInQuart">                  
                   เริ่มต้นได้ที่นี่ ที่เดียวจบ<br>
                   โปรโมทธุรกิจของคุณได้ทันที <i class="fa fa-chevron-right" aria-hidden="true"></i><i class="fa fa-chevron-right" aria-hidden="true"></i>
                   </div>


                   <div class="bannerscollection_zoominout_text_line web-is-slide01-layer03" 
                   data-initial-left="-500"
                   data-initial-top="290"
                   data-final-left="297"
                   data-final-top="290"
                   data-duration="2"
                   data-fade-start="0.5"
                   data-delay="0.3"
                   data-intermediate-left="2300"
                   data-intermediate-top="300"
                   data-intermediate-duration="3.5"
                   data-intermediate-delay="0.1"
                   data-intermediate-easing="easeInQuart">
                   แจกฟรีเว็บสำเร็จรูป
                   </div>


                    <div class="bannerscollection_zoominout_text_line web-is-slide01-layer04" 
                    data-initial-left="400" 
                    data-initial-top="450"
                    data-initial-scale="5"
                    data-final-scale="1" 
                    data-final-left="400" 
                    data-final-top="450"
                    data-duration="1" 
                    data-fade-start="0" 
                    data-delay="5">
                    ฟรี
                    </div>

                    <div class="bannerscollection_zoominout_text_line" 
                    data-initial-left="355" 
                    data-initial-top="580" 
                    data-final-left="355" 
                    data-final-top="580" 
                    data-duration="1" 
                    data-fade-start="0" 
                    data-delay="5.5">
                    <a class="btn btn-warning btn-lg" href="">สมัครใช้งานเว็บไซต์</a>
                    </div>    

              
               </div>
               <!--END SLIDE 1--> 
               

               <!--SLIDE 2-->
               <div id="bannerscollection_zoominout_photoText2" class="bannerscollection_zoominout_texts">
               
                    <div class="bannerscollection_zoominout_text_line web-is-slide02-layer01" 
                    data-initial-left="94" 
                    data-initial-top="70" 
                    data-initial-skew="80deg,40deg"
                    data-final-skew="0deg,0deg"
                    data-final-left="700"
                    data-final-top="70"
                    data-duration="0.5"
                    data-fade-start="0"
                    data-delay="0">
                    ให้เว็บไซต์ ช่วยเติมเต็ม ต่อยอดธุรกิจ<br>
                    เพิ่มประสิทธิภาพเหนือคู่แข่ง
                    </div>
                    
                    <div class="bannerscollection_zoominout_text_line web-is-slide02-layer02"
                    data-initial-left="1474"
                    data-initial-top="165"
                    data-initial-skew="80deg,40deg"
                    data-final-skew="0deg,0deg"
                    data-final-left="660"
                    data-final-top="165"
                    data-duration="0.5"
                    data-fade-start="0"
                    data-delay="0.3">
                    สุดยอดเว็บไซต์สำเร็จรูป พร้อมใช้งานแล้ววันนี้<br>
                    กับระบบจัดการเว็บไซต์ ดีที่สุด ง่ายที่สุด ครบทุกความต้องการ
                    </div>
                    
                    <div class="bannerscollection_zoominout_text_line web-is-slide02-layer03" 
                    data-initial-left="1086"
                    data-initial-top="150"
                    data-initial-skew="80deg,40deg"
                    data-final-skew="0deg,0deg"
                    data-final-left="1086"
                    data-final-top="321"
                    data-duration="0.8"
                    data-fade-start="0"
                    data-delay="0.5">
                    “ ทำเองได้ง่ายๆเลยค่ะ ”
                    </div>               
              
               </div> 
               <!--END SLIDE 2--> 

               <!--SLIDE 3-->
               <div id="bannerscollection_zoominout_photoText3" class="bannerscollection_zoominout_texts">
               
                       <div class="bannerscollection_zoominout_text_line web-is-slide03-layer01" 
                       data-initial-left="900"
                       data-initial-top="200"
                       data-initial-scale="0"
                       data-final-scale="1"
                       data-final-left="900"
                       data-final-top="200"
                       data-duration="1"
                       data-fade-start="0"
                       data-delay="0.1"
                       data-easing="easeOutBack"
                       data-exit-left="900"
                       data-exit-top="200"
                       data-exit-duration="1"
                       data-exit-delay="0.1"
                       data-exit-fade="0">
                       เว็บไซต์สำเร็จรูป พร้อมใช้งาน
                       </div>


                       <div class="bannerscollection_zoominout_text_line web-is-slide03-layer02"
                       data-initial-left="980"
                       data-initial-top="275"
                       data-initial-scale="0"
                       data-final-scale="1"
                       data-final-left="980"
                       data-final-top="275"
                       data-duration="1"
                       data-fade-start="0"
                       data-delay="0.3"
                       data-easing="easeOutBack"
                       data-exit-left="980"
                       data-exit-top="275"
                       data-exit-duration="1"
                       data-exit-delay="0.1"
                       data-exit-fade="0">
                       เริ่มต้นธุรกิจคุณได้แล้ว...วันนี้
                       </div>

    
                       <div class="bannerscollection_zoominout_text_line web-is-slide03-layer03"
                       data-initial-left="1010"
                       data-initial-top="340"
                       data-initial-scale="0"
                       data-final-scale="1"
                       data-final-left="1010"
                       data-final-top="340"
                       data-duration="1"
                       data-fade-start="0"
                       data-delay="0.5"
                       data-easing="easeOutBack"
                       data-exit-left="1010"
                       data-exit-top="340"
                       data-exit-duration="1"
                       data-exit-delay="0.1"
                       data-exit-fade="0">
                       เว็บไซต์ใช้งานได้ทันที<br>
                       เว็บไซต์สวย ทันสมัย มีให้เลือกมากมาย
                       </div>
                    
                       <div class="bannerscollection_zoominout_text_line" 
                       data-initial-left="980"
                       data-initial-top="450"
                       data-final-left="980"
                       data-final-top="450"
                       data-duration="0.2" 
                       data-fade-start="0" 
                       data-delay="0.9">
                       <a class="btn btn-default btn-lg" href="">ทดลองใช้งาน</a>
                       </div>

                                    
                       <div class="bannerscollection_zoominout_text_line web-is-slide03-layer04" 
                       data-initial-left="1230" 
                       data-initial-top="460"
                       data-initial-scale="6"
                       data-final-scale="1"
                       data-final-left="1230" 
                       data-final-top="460" 
                       data-duration="0.5" 
                       data-fade-start="0" 
                       data-delay="1.0"
                       data-easing="easeOutBack"
                       data-exit-left="1230"
                       data-exit-top="460" 
                       data-exit-scale="0"
                       data-exit-duration="0.5"
                       data-exit-delay="0.1"
                       data-exit-fade="0">                       
                       ฟรี
                       </div>
                       
                       <div class="bannerscollection_zoominout_text_line web-is-slide03-layer05"
                       data-initial-left="1370" 
                       data-initial-top="455"
                       data-initial-scale="0"
                       data-final-scale="1"
                       data-final-left="1370"
                       data-final-top="455"
                       data-duration="0.5"
                       data-fade-start="0"
                       data-delay="1.2"
                       data-easing="easeOutBack"
                       data-exit-left="1370"
                       data-exit-top="455" 
                       data-exit-scale="0"
                       data-exit-duration="0.5"
                       data-exit-delay="0.1"
                       data-exit-fade="0">                       
                       <i class='fa fa-chevron-right' aria-hidden='true'></i><i class='fa fa-chevron-right' aria-hidden='true'></i>
                       </div>
              
               </div>
               <!--END SLIDE 3-->

               <!--SLIDE 4-->
               <div id="bannerscollection_zoominout_photoText4" class="bannerscollection_zoominout_texts">
               

                       <div  class="bannerscollection_zoominout_text_line" 
                       data-initial-left="0" 
                       data-initial-top="0" 
                       data-final-left="0" 
                       data-final-top="0" 
                       data-duration="0.5" 
                       data-fade-start="0" 
                       data-delay="0.1" 
                       data-easing="swing" 
                       data-exit-left="0" 
                       data-exit-top="0" 
                       data-exit-duration="0.5" 
                       data-exit-delay="0.1" 
                       data-exit-fade="0"
                       data-exit-off="true">
                       <img src="assets/slide/tree.png" alt="" width="1955" height="795" />
                       </div>


                       <div class="bannerscollection_zoominout_text_line" 
                       data-initial-left="-300" 
                       data-initial-top="230" 
                       data-initial-scale="0.1"
                       data-final-scale="1" 
                       data-final-left="44" 
                       data-final-top="330"
                       data-duration="0.5" 
                       data-fade-start="0" 
                       data-delay="0.2"
                       data-intermediate-scale="0.1" 
                       data-intermediate-left="2100" 
                       data-intermediate-top="120" 
                       data-intermediate-duration="1.5" 
                       data-intermediate-delay="0.1" 
                       data-intermediate-easing="easeInQuart">
                       <img src="assets/slide/02_b1.png" alt="" width="500" height="173" />
                       </div>


                       <div class="bannerscollection_zoominout_text_line" 
                       data-initial-left="1900" 
                       data-initial-top="270"
                       data-initial-scale="0.1"
                       data-final-scale="1" 
                       data-final-left="1533" 
                       data-final-top="252"
                       data-duration="0.5" 
                       data-fade-start="0" 
                       data-delay="4"
                       data-intermediate-scale="0.1"
                       data-intermediate-left="-300" 
                       data-intermediate-top="50" 
                       data-intermediate-duration="1.5" 
                       data-intermediate-delay="0.1" 
                       data-intermediate-easing="easeInQuart">                  
                       <img src="assets/slide/02_b2.png" alt="" width="350" height="121" />
                       </div>
               
                       
               
                       <div class="bannerscollection_zoominout_text_line" 
                       data-initial-left="-500" 
                       data-initial-top="100" 
                       data-final-left="300" 
                       data-final-top="100"
                       data-duration="0.8" 
                       data-fade-start="0" 
                       data-delay="7.4"
                       data-exit-left="0"
                       data-exit-top="100" 
                       data-exit-duration="0.5"
                       data-exit-delay="0.5"
                       data-exit-fade="0">
                       <img src="assets/slide/02_b3.png" alt="" width="243" height="84" />
                       </div>


                       <div class="bannerscollection_zoominout_text_line web-is-slide04-layer01" 
                       data-initial-left="900" 
                       data-initial-top="200"
                       data-initial-skew="50deg,0deg"
                       data-final-skew="0deg,0deg" 
                       data-final-left="1035" 
                       data-final-top="200"                   
                       data-duration="0.5"
                       data-fade-start="0" 
                       data-delay="3"
                       data-exit-easing="easeInBack" 
                       data-exit-left="900"
                       data-exit-top="200" 
                       data-exit-duration="0.5"
                       data-exit-delay="0.3"
                       data-exit-fade="0">
                       เราสร้างสรรค์ สิ่งที่ดีที่สุด<br>
                       คุ้มค่าที่สุด เพื่อให้ธุรกิจคุณ
                       </div>


                       <div class="bannerscollection_zoominout_text_line web-is-slide04-layer02"
                       data-initial-left="1100"
                       data-initial-top="350"
                       data-initial-scale="5"
                       data-final-scale="1"
                       data-final-left="1100"
                       data-final-top="350"
                       data-duration="1"
                       data-fade-start="0"
                       data-delay="5">
                       เติบโต
                       </div>

    
                       <div class="bannerscollection_zoominout_text_line web-is-slide04-layer03"
                       data-initial-left="800"
                       data-initial-top="440"
                       data-initial-skew="50deg,0deg"
                       data-final-skew="0deg,0deg" 
                       data-final-left="1010"
                       data-final-top="440"
                       data-duration="1"
                       data-fade-start="0"
                       data-delay="7"
                       data-easing="easeOutBack"
                       data-exit-left="1010"
                       data-exit-top="340"
                       data-exit-duration="1"
                       data-exit-delay="0.1"
                       data-exit-fade="0">
                       ใส่ใจให้บริการ หลายช่องทางการช่วยเหลือ<br>
                       <i>ปรึกษาเราโทร. 02 100 5055</i>
                       </div>
 
              
               </div>
               <!--END SLIDE 4-->


    <!-- ///TEXTS -->
   
 </div>

<!-- SLIDER END -->

