

// .......slide01..........
.web-is-slide01-layer01{
    color: #FF5C26;
    font-size: 35px;
    line-height: 40px;
}

.web-is-slide01-layer02{
    color: #000000;
    font-size: 27px;
    line-height: 35px;
}

.web-is-slide01-layer03{
    color: #3F8A0C;
    font-size: 30px;
    line-height: 35px;
}

.web-is-slide01-layer04{
    color: #FF5C26;
    font-size: 200px;
    line-height: 35px;
}
// .......slide01..........


// .......slide02..........
.web-is-slide02-layer01{
    text-align: center;
    color: #9F663D;
    font-size: 40px;
    line-height: 45px;
}

.web-is-slide02-layer02{
    text-align: center;
    color: #111111;
    font-size: 27px;
    line-height: 35px;
}

.web-is-slide02-layer03{
    font-style: italic;
    color: #666666;
    font-size: 25px;
    line-height: 35px;
}

// .......slide02..........

// .......slide03..........
.web-is-slide03-layer01{
    text-align: center;
    color: #11293B;
    font-size: 50px;
    line-height: 45px;
}

.web-is-slide03-layer02{
    text-align: center;
    color: #36D900;
    font-size: 38px;
    line-height: 35px;
}

.web-is-slide03-layer03{
    text-align: center;
    color: #000000;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
}

.web-is-slide03-layer04{
    font-family: 'Kanit', sans-serif;
    color: #D80000;
    font-size: 100px;
    font-weight: 500;
}

.web-is-slide03-layer05{
    color: #383A2E;
    font-size: 50px;
}

// .......slide03..........

// .......slide04..........
.web-is-slide04-layer01{
    text-align: center;
    color: #000000;
    font-size: 34px;
    line-height: 55px;
}

.web-is-slide04-layer02{
    text-align: center;
    color: #ffffff;
    font-size: 100px;
    line-height: 35px;
    text-shadow: 2px 2px 5px #000000;
}

.web-is-slide04-layer03{
    text-align: center;
    color: #535353;
    font-size: 26px;
    line-height: 35px;
}

// .......slide04..........


.btn-warning {
    color: #ffffff;
    font-size: 25px;
    background-color: #FF5C26;
    border: 2px solid #F96B02;
    border-radius: 100px;
    padding: 10px 65px;
}

.btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border: 2px solid #F96B02;
}

.btn-default {
    color: #ffffff;
    font-size: 25px;
    background-color: #383A2E;
    border: 2px solid #383A2E;
    padding: 8px 40px;
    
}

.btn-default:hover {
    color: #383A2E;
    background-color: transparent;
    border: 2px solid #383A2E;
}