.black {
    color: #1F1F1F;
}
.red {
    color: #EB1A24;
}
.white {
    color: #ffffff;
}
.text-black {
    color: #333333;
}
.section-06{
    padding: 40px 0px;
    background: #fcfcfc;
}


.progress {
    height: 1px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #ed1c24;
    border-color: #ed1c24;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #000000;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.progress-bar-danger {
    background-color: #ff000a;
}
.thumbnail {
    padding: 0px;
}

a {
    color: #000000;
    text-decoration: none;
}


.container01 {
    position: relative;
    width: 100%;
  }
  
  .image01 {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay01 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.25);
  }
  
  .container01:hover .overlay01 {
    opacity: 1;
  }
  
  .text-box{
    background-color: transparent;
    border: solid 2px #fff;
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius: 100%;
  }
  
  .text01 {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .detail-new {
    overflow: hidden;
    height: 35px;
}

.owl-carousel {
    padding: 0px;
}
  
    

      