<app-header></app-header>

<section class="section-04">
	<div class="container">
		<h2 class="black text-center">ผลงานออกแบบ
			<span class="red">เว็บไซต์ใหม่</span> (บริการเสริม)</h2>



		<div class="col-md-3">

			<app-leftmenu></app-leftmenu>

		</div>
		<div class="col-md-9">

			<div class="row">
				<div class="clearfix"></div>
				<br>
				<br>
				<div class="clearfix"></div>

				<div class="col-md-4" *ngFor="let item of items01">

					<div class="d-box-web text-center">
						<div id="scroll-dp-lp">
							<div class="scroll-demo-lp">
								<div class="scroll-image-lp">
									<a href="http://www.web.chinhosting.com/liontravels.net/" target="_blank">
										<img class="img-responsive" src="assets/upload/web-05.jpg">
										<span class="scroll-bg-lp" style="background-image: url('assets/upload/web-05.jpg');"></span>
									</a>
								</div>
							</div>
						</div>
						<span class="f-500 black">www.jiujeng.co.th</span>
						<br> เว็บไซต์ จิ่วเจิ้งสมุนไพรจีน
						<br>
						<a class="btn btn-danger" href="http://www.web.chinhosting.com/liontravels.net/" target="_blank">บริการเสริม NEW DESIGN</a>
					</div>

				</div>

				<div class="clearfix"></div>

			</div>

		</div>
	</div>
</section>

<app-footer></app-footer>