<app-header></app-header>

<section class="section-05">

	
	<div class="container">
		<div class="row">
			<div class="col-sm-6 text-center">


				<h2 class="black no"><span aria-hidden="true" class="icon-map"></span> ติดต่อ<span class="red">ทำเว็บไซต์</span></h2>
				
				<h4>บริษัททำเว็บไซต์ ประสบการณ์ทำงาน 14 ปี ทีมงานพร้อมดูแล<br class="visible-lg visible-md">บริการเป็นกันเอง โทรปรึกษาได้คะ 02-100-5055</h4>
				
			</div>

			<div class="col-sm-6"></div>


			<div class="clearfix"></div>
		</div>
	</div>
</section>

<section class="section-06">

	<div class="container">
		<div class="alert alert-info">

			

			<div class="row">
				<div class="col-md-6">
					<h3 class="text-black">ข้อมูลติดต่อเรา</h3>
					<br>


					<div class="col-sm-1 col-xs-2">
						<div class="row">
							<img class="img-responsive" src="assets/images/icon-c01.png" alt="" title="">
						</div>
					</div>
					<div class="col-sm-11 col-xs-10">
						89/27 ซ.พหลโยธิน52 แยก27 (ม.ทิมเรืองเวช)
						<br class="hidden-xs"> แขวงคลองถนน เขตสาย กทม. 10220
					</div>
					<div class="clearfix"></div>
					<br>
					<div class="col-sm-1 col-xs-2">
						<div class="row">
							<img class="img-responsive" src="assets/images/icon-c02.png" alt="" title="">
						</div>
					</div>
					<div class="col-sm-11 col-xs-10">
						096-292-6654 , 094-445-6296
						<br class="hidden-xs"> 095-987-4596
					</div>
					<div class="clearfix"></div>
					<br>
					<div class="col-sm-1 col-xs-2">
						<div class="row">
							<img class="img-responsive" src="assets/images/icon-c03.png" alt="" title="">
						</div>
					</div>
					<div class="col-sm-11 col-xs-10">
						02-100-5055
					</div>
					<div class="clearfix"></div>
					<br>
					<div class="col-sm-1 col-xs-2">
						<div class="row">
							<img class="img-responsive" src="assets/images/icon-c04.png" alt="" title="">
						</div>
					</div>
					<div class="col-sm-11 col-xs-10">
						contact@webisme.com
					</div>
					<div class="clearfix"></div>
					<br>

					<div class="row">

						<div class="col-md-7">

							<span class="d-box-ffffff">
								<a href="">
									<div class="col-sm-5 col-xs-4">
										<img src="assets/images/line@.png" alt="" title="">
									</div>
									<div class="col-sm-7 col-xs-8 text-left">
										<span class="f-500" style="color: #858585; font-size: 18px;">เพิ่มเพื่อนใน
											<span style="color: #01B801;">ไลน์</span>
										</span>
										<br>
										<span class="f-500" style="color: #858585; font-size: 26px;">@webisme </span>
									</div>
									<div class="clearfix"></div>
								</a>
							</span>
						</div>


						<div class="col-md-5"></div>

					</div>
					<br>

					<p style="color:#0085b2"><a title="รับทำเว็บ" href="assets/upload/map-cw.pdf" target="_blank"><i class="fa fa-map-marker red" aria-hidden="true" style="font-size:35px"></i> แผนที่บริษัท</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a title="รับทำเว็บ" href="https://www.google.com/maps?ll=13.892157,100.622214&amp;z=18&amp;t=m&amp;hl=en-US&amp;gl=TH&amp;mapclient=embed&amp;cid=503070796378396831" target="_blank"><i class="fa fa-globe red" aria-hidden="true" style="font-size:35px"></i> Google Maps</a></p>

					<br>
				</div>

				<br class="visible-xs">

				<div class="col-md-6">
					<p>ติดต่อสอบถามเพื่อขอรายละเอียดเพิ่มเติม เจ้าหน้าที่จะติดต่อกลับภายใน 24 ชั่วโมง</p>
					<br>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="email">ชื่อ-นามสกุล *</label>
								<input type="text" class="form-control" id="email" placeholder="ชื่อ-นามสกุล">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="email">อีเมล์ของคุณ *</label>
								<input type="email" class="form-control" id="email" placeholder="email@domainname.com">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="email">เว็บไซต์ (ถ้ามี)</label>
								<input type="text" class="form-control" id="email" placeholder="www.yourwebsite.com">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="email">เบอร์โทรศัพท์ *</label>
								<input type="text" class="form-control" id="email" placeholder="02-100-5055">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="comment">รายละเอียด *</label>
								<textarea class="form-control" rows="5" id="comment" placeholder="*โปรดระบุรายละเอียด"></textarea>
							</div>
						</div>
						<div class="col-sm-6">
							<br class="visible-lg">
							<br class="visible-lg">
							<br class="visible-lg">
							<br class="visible-lg">
							<a class="btn btn-info" href="" title="ส่งข้อความ">ส่งข้อความ</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

</section>

<app-footer></app-footer>