<div id="wrap" style="margin-top: 0px; position: relative;">
	<!-- Navbar -->
	<div id="topBar">
		<div class="wrap">



			<div class="col-md-4 col-sm-3 col-xs-3">
				<img class="hidden-xs" src="assets/images/logo.png" title="เว็บพร้อมใช้ ฟังก์ชั่นครบ ราคาถูก ใช้งานง่าย" alt="เว็บพร้อมใช้ ฟังก์ชั่นครบ ราคาถูก ใช้งานง่าย"
				 width="50" style="margin-top: 5px;">

				<img class="hidden-lg hidden-md hidden-sm" src="assets/images/logo.png" title="เว็บพร้อมใช้ ฟังก์ชั่นครบ ราคาถูก ใช้งานง่าย"
				 alt="เว็บพร้อมใช้ ฟังก์ชั่นครบ ราคาถูก ใช้งานง่าย" width="100%" style="margin-top: 5px;">
			</div>


			<div class="col-md-4 hidden-sm hidden-xs">
				<div class="devices">
					<ul>
						<li>
							<a href="#" class="web">
								<img class="hidden-sm hidden-xs" src="assets/images/monitor.png" alt="">
							</a>
						</li>
						<li>
							<a href="#" class="Ipad-hori">
								<img class="hidden-sm hidden-xs" src="assets/images/ipad-icon.png" alt="" />
							</a>
						</li>
						<li>
							<a href="#" class="Ipad-vertical">
								<img class="hidden-sm hidden-xs" src="assets/images/ipad-landscape.png" alt="" />
							</a>
						</li>
						<li>
							<a href="#" class="Iphone-vertical">
								<img class="hidden-sm hidden-xs" src="assets/images/iphone-icon.png" alt="">
							</a>
						</li>
						<li>
							<a href="#" class="Iphone-hori">
								<img class="hidden-sm hidden-xs" src="assets/images/iphone-landscape.png" alt="">
							</a>
						</li>
						<!--<li><a href="#" class="mobile"><img src="images/nokia-icon.png" alt=""></a></li>-->
					</ul>
				</div>
			</div>




			<div class="col-md-4 col-sm-9 col-xs-9 text-right">
				<div class=" hidden-xs" style="margin-top: 7px;"></div>
				<span>
					<img style="position: relative;top: 7px;" src="assets/images/category.png" alt="สั่งซื้อบริการ" title="สั่งซื้อบริการ">
				</span> สั่งซื้อบริการ
				<span class="badge">10</span>
				<span class=" hidden-xs">&nbsp;|&nbsp;</span>

				<br class=" visible-xs">
				<div class=" visible-xs" style="margin-top: 5px;"></div>
				<a class="btn btn-danger" href="register">สมัครใช้งานเว็บไซต์</a>
				<a class="btn btn-success" href="login">เข้าสู่ระบบ</a>
			</div>

			<!--<div class="social">
			<ul>
			<li>Share on </li>
			<li><a href="mobile_demo.html"><img src="images/fb.png" alt=""></a></li>
			<li><a href="http://w3layouts.com"><img src="images/tw.png" /></a></li>
			<li><a href="mobile_demo.html"><img src="images/gp.png" alt=""></a></li>
			<li><a href="mobile_demo.html"><img src="images/pin.png" alt=""></a></li>
			</ul>
		</div>-->



			<div class="clear"></div>
		</div>
	</div>
</div>
<div id="device" style=" height: 45vmax;">
	<iframe id="hw" class="web" src="https://www.web.chinhosting.com/liontravels.net/" name="livePreviewFrame" width="100%" height="100%"
	 frameborder="0" noresize="noresize"> </iframe>
</div>