<app-about-s01></app-about-s01>


<section>
  <div class="container">
    <div class="text-center">
      <h2 class="black no">ระบบ<span class="red">เว็บพร้อมใช้</span> เต็มรูปแบบ</h2>
      <h4 class="gay">เว็บสำเร็จรูปใช้งานง่ายๆ สะดวกทุกที่</h4>
      <br>
    </div>


    <div class="row">

      <!-- iconiconiconiconiconiconiconicon -->

      <div class="col-md-4 col-sm-6">
        <div class="row">



          <a class="a-icon-hover" href="" title="เปลี่ยนรูปแบบหน้าตาเว็บไซต์ได้เอง">
            <div class="col-xs-3">
              <div class="icon-hover">
                <img class="img-responsive" src="assets/images/icon-a01.png" title="เปลี่ยนรูปแบบหน้าตาเว็บไซต์ได้เอง" alt="เปลี่ยนรูปแบบหน้าตาเว็บไซต์ได้เอง">
                <div class="overlay" style="background: url(assets/images/icon-a01-h.png?v=1001);background-size: cover;">
                </div>
              </div>
            </div>
            <div class="col-xs-9">
             <div class="row">
              <br>
              <h4 class="black">เปลี่ยนรูปแบบหน้าตาเว็บไซต์ได้เอง</h4>
            </div>
          </div>
        </a>



      </div>
      <div class="clearfix"></div>
      <br>
    </div>
    <!-- ////////iconiconiconiconiconiconiconicon -->
    <!-- iconiconiconiconiconiconiconicon -->
    <div class="col-md-4 col-sm-6">

      <div class="row">

        <a class="a-icon-hover" href="" title="สร้างกลุ่มสินค้า">
          <div class="col-xs-3">
            <div class="icon-hover">
              <img class="img-responsive" src="assets/images/icon-a02.png" title="สร้างกลุ่มสินค้า" alt="สร้างกลุ่มสินค้า">
              <div class="overlay" style="background: url(assets/images/icon-a02-h.png?v=1001);background-size: cover;">
              </div>
            </div>
          </div>
          <div class="col-xs-9">
           <div class="row">
            <br>
            <h4 class="black">สร้างกลุ่มสินค้า</h4>
          </div>
        </div>
      </a>

    </div>
    <div class="clearfix"></div>
    <br>
  </div>

  <!-- ////////iconiconiconiconiconiconiconicon -->
  <!-- iconiconiconiconiconiconiconicon -->
  <div class="col-md-4 col-sm-6">

    <div class="row">

      <a class="a-icon-hover" href="" title="เพิ่มจำนวนสินค้า">
        <div class="col-xs-3">
          <div class="icon-hover">
            <img class="img-responsive" src="assets/images/icon-a03.png" title="เพิ่มจำนวนสินค้า" alt="เพิ่มจำนวนสินค้า">
            <div class="overlay" style="background: url(assets/images/icon-a03-h.png?v=1001);background-size: cover;">
            </div>
          </div>
        </div>
        <div class="col-xs-9">
         <div class="row">
          <br>
          <h4 class="black">เพิ่มจำนวนสินค้า</h4>
        </div>
      </div>
    </a>

  </div>
  <div class="clearfix"></div>
  <br>
</div>
<!-- ////////iconiconiconiconiconiconiconicon -->
<!-- iconiconiconiconiconiconiconicon -->
<div class="col-md-4 col-sm-6">

  <div class="row">

    <a class="a-icon-hover" href="" title="ใส่ข้อมูลข่าวสาร">
      <div class="col-xs-3">
        <div class="icon-hover">
          <img class="img-responsive" src="assets/images/icon-a04.png" title="ใส่ข้อมูลข่าวสาร" alt="ใส่ข้อมูลข่าวสาร">
          <div class="overlay" style="background: url(assets/images/icon-a04-h.png?v=1001);background-size: cover;">
          </div>
        </div>
      </div>
      <div class="col-xs-9">
       <div class="row">
        <br>
        <h4 class="black">ใส่ข้อมูลข่าวสาร</h4>
      </div>
    </div>
  </a>

</div>
<div class="clearfix"></div>
<br>
</div>
<!-- ////////iconiconiconiconiconiconiconicon -->

<!-- iconiconiconiconiconiconiconicon -->
<div class="col-md-4 col-sm-6">

  <div class="row">

    <a class="a-icon-hover" href="" title="ใส่VDOเว็บไซต์">
      <div class="col-xs-3">
        <div class="icon-hover">
          <img class="img-responsive" src="assets/images/icon-a05.png" title="ใส่VDOเว็บไซต์" alt="ใส่VDOเว็บไซต์">
          <div class="overlay" style="background: url(assets/images/icon-a05-h.png?v=1001);background-size: cover;">
          </div>
        </div>
      </div>
      <div class="col-xs-9">
       <div class="row">
        <br>
        <h4 class="black">ใส่VDOเว็บไซต์</h4>
      </div>
    </div>
  </a>

</div>
<div class="clearfix"></div>
<br>
</div>
<!-- ////////iconiconiconiconiconiconiconicon -->
<!-- iconiconiconiconiconiconiconicon -->
<div class="col-md-4 col-sm-6">

  <div class="row">

    <a class="a-icon-hover" href="" title="เพิ่มภาพสไลด์">
      <div class="col-xs-3">
        <div class="icon-hover">
          <img class="img-responsive" src="assets/images/icon-a06.png" title="เพิ่มภาพสไลด์" alt="เพิ่มภาพสไลด์">
          <div class="overlay" style="background: url(assets/images/icon-a06-h.png?v=1001);background-size: cover;">
          </div>
        </div>
      </div>
      <div class="col-xs-9">
       <div class="row">
        <br>
        <h4 class="black">เพิ่มภาพสไลด์</h4>
      </div>
    </div>
  </a>

</div>
<div class="clearfix"></div>
<br>
</div>
<!-- ////////iconiconiconiconiconiconiconicon -->
<!-- iconiconiconiconiconiconiconicon -->
<div class="col-md-4 col-sm-6">

  <div class="row">

    <a class="a-icon-hover" href="" title="เปลี่ยนแถบปุ่มเมนูได้เอง">
      <div class="col-xs-3">
        <div class="icon-hover">
          <img class="img-responsive" src="assets/images/icon-a07.png" title="เปลี่ยนแถบปุ่มเมนูได้เอง" alt="เปลี่ยนแถบปุ่มเมนูได้เอง">
          <div class="overlay" style="background: url(assets/images/icon-a07-h.png?v=1001);background-size: cover;">
          </div>
        </div>
      </div>
      <div class="col-xs-9">
       <div class="row">
        <br>
        <h4 class="black">เปลี่ยนแถบปุ่มเมนูได้เอง</h4>
      </div>
    </div>
  </a>

</div>
<div class="clearfix"></div>
<br>
</div>
<!-- ////////iconiconiconiconiconiconiconicon -->

<!-- iconiconiconiconiconiconiconicon -->
<div class="col-md-4 col-sm-6">

  <div class="row">

    <a class="a-icon-hover" href="" title="ระบบสนับสนุนSEO">
      <div class="col-xs-3">
        <div class="icon-hover">
          <img class="img-responsive" src="assets/images/icon-a08.png" title="ระบบสนับสนุนSEO" alt="ระบบสนับสนุนSEO">
          <div class="overlay" style="background: url(assets/images/icon-a08-h.png?v=1001);background-size: cover;">
          </div>
        </div>
      </div>
      <div class="col-xs-9">
       <div class="row">
        <br>
        <h4 class="black">ระบบสนับสนุนSEO</h4>
      </div>
    </div>
  </a>

</div>
<div class="clearfix"></div>
<br>
</div>
<!-- ////////iconiconiconiconiconiconiconicon -->

<!-- iconiconiconiconiconiconiconicon -->
<div class="col-md-4 col-sm-6">

  <div class="row">

    <a class="a-icon-hover" href="" title="ใส่บทความ">
      <div class="col-xs-3">
        <div class="icon-hover">
          <img class="img-responsive" src="assets/images/icon-a09.png" title="ใส่บทความ" alt="ใส่บทความ">
          <div class="overlay" style="background: url(assets/images/icon-a09-h.png?v=1001);background-size: cover;">
          </div>
        </div>
      </div>
      <div class="col-xs-9">
       <div class="row">
        <br>
        <h4 class="black">ใส่บทความ</h4>
      </div>
    </div>
  </a>

</div>
<div class="clearfix"></div>
<br>
</div>
<!-- ////////iconiconiconiconiconiconiconicon -->

<!-- iconiconiconiconiconiconiconicon -->
<div class="col-md-4 col-sm-6">

  <div class="row">

    <a class="a-icon-hover" href="" title="อัลบัมรูปภาพ">
      <div class="col-xs-3">
        <div class="icon-hover">
          <img class="img-responsive" src="assets/images/icon-a10.png" title="อัลบัมรูปภาพ" alt="อัลบัมรูปภาพ">
          <div class="overlay" style="background: url(assets/images/icon-a10-h.png?v=1001);background-size: cover;">
          </div>
        </div>
      </div>
      <div class="col-xs-9">
       <div class="row">
        <br>
        <h4 class="black">อัลบัมรูปภาพ</h4>
      </div>
    </div>
  </a>

</div>
<div class="clearfix"></div>
<br>
</div>
<!-- ////////iconiconiconiconiconiconiconicon -->

<!-- iconiconiconiconiconiconiconicon -->
<div class="col-md-4 col-sm-6">

  <div class="row">

    <a class="a-icon-hover" href="" title="ข้อมูลหน้าติดต่อ">
      <div class="col-xs-3">
        <div class="icon-hover">
          <img class="img-responsive" src="assets/images/icon-a11.png" title="ข้อมูลหน้าติดต่อ" alt="ข้อมูลหน้าติดต่อ">
          <div class="overlay" style="background: url(assets/images/icon-a11-h.png?v=1001);background-size: cover;">
          </div>
        </div>
      </div>
      <div class="col-xs-9">
       <div class="row">
        <br>
        <h4 class="black">ข้อมูลหน้าติดต่อ</h4>
      </div>
    </div>
  </a>

</div>
<div class="clearfix"></div>
<br>
</div>
<!-- ////////iconiconiconiconiconiconiconicon -->

<!-- iconiconiconiconiconiconiconicon -->
<div class="col-md-4 col-sm-6">

  <div class="row">

    <a class="a-icon-hover" href="" title="ลิงค์ Social Network">
      <div class="col-xs-3">
        <div class="icon-hover">
          <img class="img-responsive" src="assets/images/icon-a12.png" title="ลิงค์ Social Network" alt="ลิงค์ Social Network">
          <div class="overlay" style="background: url(assets/images/icon-a12-h.png?v=1001);background-size: cover;">
          </div>
        </div>
      </div>
      <div class="col-xs-9">
       <div class="row">
        <br>
        <h4 class="black">ลิงค์ Social Network</h4>
      </div>
    </div>
  </a>

</div>
<div class="clearfix"></div>
<br>
</div>
<!-- ////////iconiconiconiconiconiconiconicon -->
<!-- iconiconiconiconiconiconiconicon -->
<div class="col-md-4 col-sm-6">

  <div class="row">

    <a class="a-icon-hover" href="" title="สร้างไฟล์ดาวน์โหลด">
      <div class="col-xs-3">
        <div class="icon-hover">
          <img class="img-responsive" src="assets/images/icon-a13.png" title="สร้างไฟล์ดาวน์โหลด" alt="สร้างไฟล์ดาวน์โหลด">
          <div class="overlay" style="background: url(assets/images/icon-a13-h.png?v=1001);background-size: cover;">
          </div>
        </div>
      </div>
      <div class="col-xs-9">
       <div class="row">
        <br>
        <h4 class="black">สร้างไฟล์ดาวน์โหลด</h4>
      </div>
    </div>
  </a>

</div>
<div class="clearfix"></div>
<br>
</div>
<!-- ////////iconiconiconiconiconiconiconicon -->
<!-- iconiconiconiconiconiconiconicon -->
<div class="col-md-4 col-sm-6">

  <div class="row">

    <a class="a-icon-hover" href="" title="ตำแหน่งงาน">
      <div class="col-xs-3">
        <div class="icon-hover">
          <img class="img-responsive" src="assets/images/icon-a14.png" title="ตำแหน่งงาน" alt="ตำแหน่งงาน">
          <div class="overlay" style="background: url(assets/images/icon-a14-h.png?v=1001);background-size: cover;">
          </div>
        </div>
      </div>
      <div class="col-xs-9">
       <div class="row">
        <br>
        <h4 class="black">ตำแหน่งงาน</h4>
      </div>
    </div>
  </a>

</div>
<div class="clearfix"></div>
<br>
</div>
<!-- ////////iconiconiconiconiconiconiconicon -->

<!-- iconiconiconiconiconiconiconicon -->
<div class="col-md-4 col-sm-6">

  <div class="row">

    <a class="a-icon-hover" href="" title="ระบบสมาชิก">
      <div class="col-xs-3">
        <div class="icon-hover">
          <img class="img-responsive" src="assets/images/icon-a15.png" title="ระบบสมาชิก" alt="ระบบสมาชิก">
          <div class="overlay" style="background: url(assets/images/icon-a15-h.png?v=1001);background-size: cover;">
          </div>
        </div>
      </div>
      <div class="col-xs-9">
       <div class="row">
        <br>
        <h4 class="black">ระบบสมาชิก</h4>
      </div>
    </div>
  </a>

</div>
<div class="clearfix"></div>
<br>
</div>
<!-- ////////iconiconiconiconiconiconiconicon -->
<!-- iconiconiconiconiconiconiconicon -->
<div class="col-md-4 col-sm-6">

  <div class="row">

    <a class="a-icon-hover" href="" title="ป้องกันการคัดลอกเนื้อหา">
      <div class="col-xs-3">
        <div class="icon-hover">
          <img class="img-responsive" src="assets/images/icon-a16.png" title="ป้องกันการคัดลอกเนื้อหา" alt="ป้องกันการคัดลอกเนื้อหา">
          <div class="overlay" style="background: url(assets/images/icon-a16-h.png?v=1001);background-size: cover;">
          </div>
        </div>
      </div>
      <div class="col-xs-9">
       <div class="row">
        <br>
        <h4 class="black">ป้องกันการคัดลอกเนื้อหา</h4>
      </div>
    </div>
  </a>

</div>
<div class="clearfix"></div>
<br>
</div>
<!-- ////////iconiconiconiconiconiconiconicon -->
<!-- iconiconiconiconiconiconiconicon -->
<div class="col-md-4 col-sm-6">

  <div class="row">

    <a class="a-icon-hover" href="" title="ลายน้ำบนรูปภาพ">
      <div class="col-xs-3">
        <div class="icon-hover">
          <img class="img-responsive" src="assets/images/icon-a17.png" title="ลายน้ำบนรูปภาพ" alt="ลายน้ำบนรูปภาพ">
          <div class="overlay" style="background: url(assets/images/icon-a17-h.png?v=1001);background-size: cover;">
          </div>
        </div>
      </div>
      <div class="col-xs-9">
       <div class="row">
        <br>
        <h4 class="black">ลายน้ำบนรูปภาพ</h4>
      </div>
    </div>
  </a>

</div>
<div class="clearfix"></div>
<br>
</div>
<!-- ////////iconiconiconiconiconiconiconicon -->
<!-- iconiconiconiconiconiconiconicon -->
<div class="col-md-4 col-sm-6">

  <div class="row">

    <a class="a-icon-hover" href="" title="ภาษา (รองรับได้ 20 ภาษา)">
      <div class="col-xs-3">
        <div class="icon-hover">
          <img class="img-responsive" src="assets/images/icon-a18.png" title="ภาษา (รองรับได้ 20 ภาษา)" alt="ภาษา (รองรับได้ 20 ภาษา)">
          <div class="overlay" style="background: url(assets/images/icon-a18-h.png?v=1001);background-size: cover;">
          </div>
        </div>
      </div>
      <div class="col-xs-9">
       <div class="row">
        <br>
        <h4 class="black">ภาษา (รองรับได้ 20 ภาษา)</h4>
      </div>
    </div>
  </a>

</div>
<div class="clearfix"></div>
<br>
</div>
<!-- ////////iconiconiconiconiconiconiconicon -->
<!-- iconiconiconiconiconiconiconicon -->
<div class="col-md-4 col-sm-6">

  <div class="row">

    <a class="a-icon-hover" href="" title="แชร์เนื้อหา">
      <div class="col-xs-3">
        <div class="icon-hover">
          <img class="img-responsive" src="assets/images/icon-a19.png" title="แชร์เนื้อหา" alt="แชร์เนื้อหา">
          <div class="overlay" style="background: url(assets/images/icon-a19-h.png?v=1001);background-size: cover;">
          </div>
        </div>
      </div>
      <div class="col-xs-9">
       <div class="row">
        <br>
        <h4 class="black">แชร์เนื้อหา</h4>
      </div>
    </div>
  </a>

</div>
<div class="clearfix"></div>
<br>
</div>
<!-- ////////iconiconiconiconiconiconiconicon -->
<!-- iconiconiconiconiconiconiconicon -->
<div class="col-md-4 col-sm-6">

  <div class="row">

    <a class="a-icon-hover" href="" title="ระบบ Page Eror">
      <div class="col-xs-3">
        <div class="icon-hover">
          <img class="img-responsive" src="assets/images/icon-a20.png" title="ระบบ Page Eror" alt="ระบบ Page Eror">
          <div class="overlay" style="background: url(assets/images/icon-a20-h.png?v=1001);background-size: cover;">
          </div>
        </div>
      </div>
      <div class="col-xs-9">
       <div class="row">
        <br>
        <h4 class="black">ระบบ Page Eror</h4>
      </div>
    </div>
  </a>

</div>
<div class="clearfix"></div>
<br>
</div>
<!-- ////////iconiconiconiconiconiconiconicon -->
<!-- iconiconiconiconiconiconiconicon -->
<div class="col-md-4 col-sm-6">

  <div class="row">

    <a class="a-icon-hover" href="" title="ระบบสกุลเงินต่างประเทศ">
      <div class="col-xs-3">
        <div class="icon-hover">
          <img class="img-responsive" src="assets/images/icon-a21.png" title="ระบบสกุลเงินต่างประเทศ" alt="ระบบสกุลเงินต่างประเทศ">
          <div class="overlay" style="background: url(assets/images/icon-a21-h.png?v=1001);background-size: cover;">
          </div>
        </div>
      </div>
      <div class="col-xs-9">
       <div class="row">
        <br>
        <h4 class="black">ระบบสกุลเงินต่างประเทศ</h4>
      </div>
    </div>
  </a>

</div>
<div class="clearfix"></div>
<br>
</div>
<!-- ////////iconiconiconiconiconiconiconicon -->

<div class="clearfix"></div>
</div>

<div class="clearfix"></div>
<div class="text-center">
  <a class="btn btn-danger btn-lg white" href="" title="สมัครใช้งานเว็บไซต์">สมัครใช้งานเว็บไซต์</a>
  &nbsp;
  <a class="btn btn-default btn-lg white" href="" title="ดูผลงานทำเว็บไซต์">ดูผลงานทำเว็บไซต์</a>
</div>
</div>
</section>


<section>
  <div class="container">
    <div class="text-center">
      <h2 class="black">ผลงาน<span class="text-yellow-01">เว็บไซต์พร้อมใช้</span> สวยๆ</h2>
    </div>

    <div class="row">

      <div id="owl-demo02" class="owl-carousel">

        <div class="item" *ngFor="let item of items">
          <div class="col-md-12">
            <a href="" title="เว็บไซต์พร้อมใช้ระบบเว็บในรูปแบบเว็บเทมเพลต">
              <img class="img-responsive" src="assets/upload/web-01.jpg" alt="เว็บไซต์พร้อมใช้ระบบเว็บในรูปแบบเว็บเทมเพลต" title="เว็บไซต์พร้อมใช้ระบบเว็บในรูปแบบเว็บเทมเพลต">
            </a>
          </div>
        </div>

      </div>

    </div>

    <div class="text-center">
      <br>
      <a class="btn btn-danger btn-lg white" href="" title="ดูเว็บพร้อมใช้ทั้งหมด">ดูเว็บพร้อมใช้ทั้งหมด</a>
    </div>

  </div>
</section>