<div class="bs-callout bs-callout-danger" id="callout-inputgroup-text-input-only">
	<h4 class="black">ค้านหา</h4>
</div>
<div class="input-group">
	<span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
	<input type="text" class="form-control" placeholder="ค้นหา เทมเพลต...">
	<span class="input-group-btn">
		<button class="btn btn-danger" type="button">Go!</button>
	</span>
</div><!-- /input-group -->
<h4 class="black">หมวดหมู่</h4>

<div class="list-group">
	 <a href="#" class="list-group-item active">เฟอร์นิเจอร์-ของใช้ในบ้าน</a>
	 <a href="#" class="list-group-item">เฟอร์นิเจอร์-ของใช้ในบ้าน</a>
	 <a href="#" class="list-group-item">เครื่องใช้ไฟฟ้า-อิเล็กทรอนิกส์</a>
	 <a href="#" class="list-group-item">เครื่องจักร-อุปกรณ์ก่อสร้าง</a>
	 <a href="#" class="list-group-item">เครื่องมือช่าง</a>
	 <a href="#" class="list-group-item">แฟชั่น-เสื้อผ้า-กระเป๋า-รองเท้า</a>
	 <a href="#" class="list-group-item">การแพทย์-สุขภาพ</a>
	 <a href="#" class="list-group-item">สปา-เสริมสวย</a>
	 <a href="#" class="list-group-item">เครื่องประดับ-อัญมณี</a>
	 <a href="#" class="list-group-item">เครื่องสำอาง-ความงาม</a>
	 <a href="#" class="list-group-item">ช้อปปิ้ง-ค้าปลีก</a>
	 <a href="#" class="list-group-item">ทนายความ-กฏหมาย</a>
	 <a href="#" class="list-group-item">Wedding-ถ่ายภาพ</a>
	 <a href="#" class="list-group-item">ทัวร์-ท่องเที่ยว</a>
	 <a href="#" class="list-group-item">การศึกษา</a>
	 <a href="#" class="list-group-item">อุปกรณ์สำนักงาน</a>
	 <a href="#" class="list-group-item">ศิลปะ-ของสะสม-พระเครื่อง</a>
	 <a href="#" class="list-group-item">สัตว์เลี้ยง-อุปกรณ์สัตว์เลี้ยง</a>
	 <a href="#" class="list-group-item">สนามกีฬา-ฟิตเนส</a>
	 <a href="#" class="list-group-item">ยานยนต์</a>
	 <a href="#" class="list-group-item">อาหารเสริม-วิตามิน</a>
	 <a href="#" class="list-group-item">โรงแรม-ห้องพักอาศัย</a>
	 <a href="#" class="list-group-item">โรงพยาบาล-คลีนิค</a>
	 <a href="#" class="list-group-item">ร้านหนังสือ</a>
	 <a href="#" class="list-group-item">ดนตรี-บันเทิง-วงดนตรี</a>
	 <a href="#" class="list-group-item">ของที่ระลึก-ของตกแต่ง</a>
	 <a href="#" class="list-group-item">สินค้า OTOP</a>
	 <a href="#" class="list-group-item">การเงิน-ธนาคาร-รับจำนำ</a>
	 <a href="#" class="list-group-item">แฟรนไชน์-ขายส่ง</a>
	 <a href="#" class="list-group-item">บริษัทอุตสาหกรรม</a>
	 <a href="#" class="list-group-item">ทำเลค้าขาย</a>
	 <a href="#" class="list-group-item">ศาสนา</a>
	 <a href="#" class="list-group-item">บริษัทประกันภัย</a>
	 <a href="#" class="list-group-item">บริการทัวไป-รับจ้าง</a>
	 <a href="#" class="list-group-item">ผู้รับเหมา-ออกแบบ-ช่าง</a>
	 <a href="#" class="list-group-item">บริการขนส่ง-รถบรรทุก</a>
	 <a href="#" class="list-group-item">ที่ดิน-โกดัง-พื้นที่ให้เช่า</a>
	 <a href="#" class="list-group-item">อื่นๆ</a>

</div>
