<app-header></app-header>

<section class="section-01">
	<div class="container">


		<h2 class="black text-center">เลือก<span class="red">แพ็กเกจ</span></h2>
		<br>
		<br>

		<div class="row">
			<div class="col-md-9">

				<p class="page-header black"> เลือกแพ็กเกจที่คุณต้องการใช้งาน</p>



				<div class="row">

					<div class="col-md-3">
						บริการที่เลือก
					</div>

					<div class="col-md-9">
						<h4 class="black">BASIC PACKAGE <span class="red">(แถมฟรี 1 ปี)</span></h4>
					</div>

					<div class="clearfix"></div>

					<div class="col-md-12">
						<hr class="hr01">
					</div>
					<br>
					<div class="col-md-3">
						ประเภทโดเมน :
					</div>

					<div class="col-md-9 form-dos black">
						
						<div class="radio">
							<label><input type="radio" name="optradio">จดโดเมนใหม่ (โดเมนส่วนตัว)</label>
						</div>
						<div class="radio">
							<label><input type="radio" name="optradio">มีโดเมนอยู่แล้ว</label>
						</div>
						<div class="radio">
							<label><input type="radio" name="optradio">ใช้ซับโดเมน (webisme.com)</label>
						</div>

						
					</div>

					<br>
					<div class="clearfix"></div>
					<br>
					<div class="col-md-3">
						โดเมนเนม :
					</div>

					<div class="col-md-6 form-dos black">
						
						<div class="input-group">
							<input type="text" class="form-control" placeholder="โดเมนเนม">
							<span class="input-group-btn">
								<button class="btn btn-danger" type="button">ตรวจสอบ</button>
							</span>
						</div><!-- /input-group -->

						
					</div>

					<div class="col-md-3"></div>

					<br>
					<div class="clearfix"></div>
					<br>

					<div class="col-md-3">
						แพ็กเกจ :
					</div>

					<div class="col-md-9 form-dos black">
						<div class="radio">
							<label>
								<input type="radio" name="optradio">
								<span class="h3">GOLD PACKAGE </span> <span class="pull-right"><span class="h3 red">&nbsp;&nbsp;&nbsp;3,590</span> บาท/ปี</span>
								<br>
								<br>

								<p><i class="fa fa-language red" aria-hidden="true"></i> รองรับ 2 ภาษา</p>
								<p><i class="fa fa-database red" aria-hidden="true"></i> ลงข้อมูลได้ไม่จำกัด</p>
								<p><i class="fa fa-file-code-o red" aria-hidden="true"></i> เลือกรูปแบบเว็บได้ ไม่จำกัด</p>
								<p><i class="fa fa-paypal red" aria-hidden="true"></i> รองรับ Paypal, Paysbuy</p>
							</label>
						</div>
					</div>


					<br>
					<div class="clearfix"></div>
					<br>

					<div class="col-md-3">
					</div>

					<div class="col-md-9 form-dos black">
						<div class="radio">
							<label>
								<input type="radio" name="optradio">
								<span class="h3">BASIC PACKAGE </span> <span class="pull-right"><span class="h3 red">&nbsp;&nbsp;&nbsp;3,180</span> บาท/ปี</span>
								<br>
								<br>

								<p><i class="fa fa-language red" aria-hidden="true"></i> รองรับ 2 ภาษา</p>
								<p><i class="fa fa-database red" aria-hidden="true"></i> ลงข้อมูลได้ไม่จำกัด</p>
								<p><i class="fa fa-file-code-o red" aria-hidden="true"></i> เลือกรูปแบบเว็บได้ 50</p>
								<p><i class="fa fa-paypal red" aria-hidden="true"></i> รองรับ Paypal, Paysbuy</p>
							</label>
						</div>
					</div>


					<br>
					<div class="clearfix"></div>
					<br>

					<div class="col-md-3">
					</div>

					<div class="col-md-9 form-dos black">
						<div class="radio">
							<label>
								<input type="radio" name="optradio">
								<span class="h3">FREE PACKAGE </span> <span class="pull-right"><span class="h3 red">&nbsp;&nbsp;&nbsp;0</span> บาท/ปี</span>
								<br>
								<br>

								<p><i class="fa fa-file-code-o red" aria-hidden="true"></i> เลือกเทมเพลตได้ 25 แบบ</p>
								<p><i class="fa fa-globe red" aria-hidden="true"></i> ไม่สามารถใช้โดเมนส่วนตัวได้</p>
							</label>
						</div>
					</div>

					<br>
					<div class="clearfix"></div>
					<br>
					<div class="col-md-3">
						ระยะเวลา :
					</div>

					<div class="col-md-6 form-dos black">

						<select class="form-control" id="sel1">
							<option>1 Year (3990 THB) </option>
							<option>3 Years (7980 THB) </option>
						</select>

						
					</div>

					<div class="col-md-3"></div>

					<br>
					<div class="clearfix"></div>
					<br>
					<div class="col-md-3">
						พื้นที่อีเมล์ :
					</div>

					<div class="col-md-6 form-dos black">

						<select class="form-control" id="sel1">
							<option>ไม่ต้องการพื่นที่อีเมล์</option>
							<option>E1 | พื้นที่รวม 10 GB | 20 Accounts (1,500 บาท/ปี)</option>
							<option>E2 | พื้นที่รวม 20 GB | 20 Accounts (3,000 บาท/ปี)</option>
							<option>E3 | พื้นที่รวม 30 GB | 200 Accounts (4,500 บาท/ปี)</option>
							<option>E4 | พื้นที่รวม 40 GB | 200 Accounts (6,000 บาท/ปี)</option>
							<option>E5 | พื้นที่รวม 50 GB | 1000 Accounts (7,500 บาท/ปี)</option>
							<option>E6 | พื้นที่รวม 100 GB | 1000 Accounts (15,000 บาท/ปี)</option>
							<option>E7 | พื้นที่รวม 200 GB | 1000 Accounts (30,000 บาท/ปี)</option>
						</select>

						
					</div>

					<div class="col-md-3"></div>

					<div class="clearfix"></div>
					<br>

					<div class="col-md-12">
						<hr class="hr01">
					</div>

					
					<div class="col-md-3">
						
					</div>

					<div class="col-md-9">

						
						<div style="margin-bottom: 15px;">
							<img src="assets/images/Captcha-demo.gif" width="280" height="76" alt=""/>
						</div>
						<div class="clearfix"></div>

						<a class="btn btn-danger btn-lg" href="" title="เข้าสู่ระบบ">เข้าสู่ระบบ</a>
						<a class="btn btn-danger btn-lg" href="" title="ล้างข้อมูล">ล้างข้อมูล</a>
						
					</div>

					<div class="clearfix"></div>
					<br>

					

				</div>



			</div>
			<div class="col-md-3">

				<div class="panel panel-danger">
					<div class="panel-heading">
						<h3 class="panel-title">รายการสั่งซื้อของคุณ</h3>
					</div>
					<div class="panel-body">

						<div class="row">
							<div class="col-md-7">
								<b class="black">BASIC PACKAGE</b>
							</div>
							<div class="col-md-5">
								<span class="red"><b>1,590</b></span> บาท/ปี
							</div>

							<div class="col-md-12">
								<hr>
							</div>



							<div class="col-md-7">
								ราคารวม
							</div>
							<div class="col-md-5">
								1,590 บาท
							</div>


							<div class="col-md-7">
								ภาษีมูลค่าเพิ่ม
							</div>
							<div class="col-md-5">
								279.3 บาท
							</div>


							<div class="col-md-12">
								<hr>
							</div>

							<div class="col-md-7">
								ราคารวมทั้งสิ้น
							</div>
							<div class="col-md-5">
								1,869.3 บาท
							</div>

							<div class="col-md-12">
								<hr>
							</div>

						</div>

					</div>
				</div>

			</div>	

		</div>

		<hr>
		<br>

	</div>
</section>

<app-footer></app-footer>
