<section class="hidden-sm hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img class="img-responsive" src="assets/images/logo.png" alt="เว็บพร้อมใช้ ฟังก์ชั่นครบ ราคาถูก ใช้งานง่าย" title="เว็บพร้อมใช้ ฟังก์ชั่นครบ ราคาถูก ใช้งานง่าย">
      </div>
      <div class="col-md-6">
        <br>
        <h2>WEB<span class="red">iS</span>ME.COM</h2>
        <h3>“เว็บพร้อมใช้ ฟังก์ชั่นครบ ราคาถูก ใช้งานง่าย</h3>
        <h3>แสดงผลได้ทั้งคอมพิวเตอร์และมือถือ 100% รองรับทุกการใช้งาน”</h3>

      </div>
      <div class="col-md-4 text-right">
        <br>
        <h6>Call Center : 02 100 5055</h6>
        <h4>โทรปรึกษาเราได้ทุกวัน 096 292 4669 (ฝ่ายขาย)</h4>

        <div class="row">
          <div class="col-lg-6 col-md-5 text-right">
            <img src="assets/images/qr.png" alt="Line ID : cw.in.th" title="Line ID : cw.in.th">
          </div>
          <div class="col-lg-6 col-md-7 text-right">
            <h6><span><img src="assets/images/line-icon.png" alt="Line ID : cw.in.th" title="Line ID : cw.in.th"></span> Line ID : cw.in.th</h6>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-6 text-center">
            <a href="register" title="t">
            <h6><span><img src="assets/images/category.png" alt="สั่งซื้อบริการ" title="สั่งซื้อบริการ"></span> สั่งซื้อบริการ <span class="badge">10</span></h6>
            </a>
          </div>
          <div class="col-md-6 text-right">
            <div class="dropdown">
              <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">Your Language
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#"><span><img src="assets/images/th.png" alt="ภาษาไทย" title="ภาษาไทย"></span> ภาษาไทย</a></li>
                  <li><a href="#"><span><img src="assets/images/eng.png" alt="English" title="English"></span> English</a></li>
                  <li><a href="#"><span><img src="assets/images/lo.png" alt="ພາສາລາວ" title="ພາສາລາວ"></span> ພາສາລາວ</a></li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>


  <div class="clearfix"></div>
  <!-- Start Navigation -->
  <nav id="kak-fix" class="navbar navbar-default navbar-mobile bootsnav kak">


    <div class="hidden-lg hidden-md d-box-gay">
      <div class="col-md-6"></div>
      <div class="col-md-6 text-right">
        <div class="dropdown">
          <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">Your Language
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#"><span><img src="assets/images/th.png" alt="ภาษาไทย" title="ภาษาไทย"></span> ภาษาไทย</a></li>
              <li><a href="#"><span><img src="assets/images/eng.png" alt="English" title="English"></span> English</a></li>
              <li><a href="#"><span><img src="assets/images/lo.png" alt="ພາສາລາວ" title="ພາສາລາວ"></span> ພາສາລາວ</a></li>

            </ul>
          </div>
        </div>
      </div>


      <div class="container">


        <!-- Start Atribute Navigation -->
        <div class="attr-nav">
          <ul>
            <li><a class="btn btn-danger hidden-sm hidden-xs" href="register">สมัครใช้งานเว็บไซต์</a></li>
            <li><a class="btn btn-success hidden-sm hidden-xs" href="login">เข้าสู่ระบบ</a></li>
            <li class="dropdown hidden-lg hidden-md">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                <i class="fa fa-shopping-cart"></i>
                <span class="badge">3</span>
              </a>
              <ul class="dropdown-menu cart-list">
                <li>
                  <a href="#" class="photo"></a>
                  <h6><a href="#">Delica omtantur </a></h6>
                  <p>2x - <span class="price">$99.99</span></p>
                </li>
                <li>
                  <a href="#" class="photo"></a>
                  <h6><a href="#">Delica omtantur </a></h6>
                  <p>2x - <span class="price">$99.99</span></p>
                </li>
                <li class="total">
                  <span class="pull-right"><strong>Total</strong>: $0.00</span>
                  <a href="#" class="btn btn-default btn-cart">Cart</a>
                </li>
              </ul>
            </li>


          </ul>
        </div>        
        <!-- End Atribute Navigation -->


        <!-- Start Header Navigation -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand hidden-lg hidden-md" href="#brand">
            <img src="assets/images/logo.png" class="logo" alt="">
          </a>
        </div>
        <!-- End Header Navigation -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
          <ul class="nav navbar-nav navbar-left">
            <li >
              <a class="hvr-menu" href="" >หน้าแรก</a>
            </li>
            <li *ngFor="let menu of menuList ">
              <a class="hvr-menu"  (click)="gotoPage(menu.link)" >{{menu.title}}</a>
            </li>
            <!-- <li>
              <a class="hvr-menu" href="./about">เว็บไซต์พร้อมใช้</a>
            </li>
            <li>
              <a class="hvr-menu" href="./price">ราคาเว็บแพ็กเกจ</a>
            </li>
            <li>
              <a class="hvr-menu" href="./new">ข่าวอัพเดท</a>
            </li>
            <li>
              <a class="hvr-menu" href="./help">ช่วยเหลือ</a>
            </li>
            <li>
              <a class="hvr-menu" href="./contact">ติดต่อเรา</a>
            </li> -->
          </ul>
        </div>

        
        <!-- /.navbar-collapse -->



      </div>

      <div class="col-xs-6 hidden-lg hidden-md">
        <a (click)="gotoPage('login')" title="เข้าสู่ระบบ">เข้าสู่ระบบ
          <!-- <div class="row">
            <span class="d-box-red"><i class="fa fa-sign-in"></i> เข้าสู่ระบบ </span> 
          </div> -->
        </a>
      </div>

      <div class="col-xs-6 hidden-lg hidden-md">
        <a (click)="gotoPage('register')" title="สมัครสมาชิก">
          <div class="row">
            <span class="d-box-green"><i class="fa fa-user" aria-hidden="true"></i> สมัครสมาชิก </span> 
          </div>
        </a>
      </div>
    </nav>

<!-- End Navigation -->