<app-header></app-header>

<section class="section-05">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h2 class="black">
					<span aria-hidden="true" class="icon-paintbrush red"></span> ปรับแต่ง
					<span class="red">ธีม</span>
				</h2>

				<div class="progress">
					<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" class="progress-bar progress-bar-danger" role="progressbar"
					 style="width:40%">
					</div>
				</div>

				<div class="embed-responsive embed-responsive-4by3">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/do1BcCPrNIg" frameborder="0" allow="autoplay; encrypted-media"
					 allowfullscreen></iframe>
				</div>



			</div>
			<div class="col-sm-6">
				<h2 class="black">
					<span aria-hidden="true" class="icon-ribbon red"></span> ธีมมาใหม่
					<span class="red">เดือนนี้</span>
				</h2>

				<div class="progress">
					<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" class="progress-bar progress-bar-danger" role="progressbar"
					 style="width:40%">
					</div>
				</div>

				<div class="pc">


					<div style="height: 100%; overflow: hidden;">

						<div id="mobile-slider" class="owl-carousel">
							<div class="item" *ngFor="let item of items">

								<figure class="snip0019">
									<img width="100%" src="assets/upload/web-01.jpg" alt="เว็บไซต์พร้อมใช้ระบบเว็บในรูปแบบเว็บเทมเพลต" title="เว็บไซต์พร้อมใช้ระบบเว็บในรูปแบบเว็บเทมเพลต">

									<figcaption>
										<div>
											<h2 class="text-uppercase">SHOESMART SHOP</h2>
										</div>
										<div>
											<p>Designed by : june
												<br> Package : Business Package</p>
										</div>
									</figcaption>
									<a href="options" target="_blank" title="เว็บไซต์พร้อมใช้ระบบเว็บในรูปแบบเว็บเทมเพลต"></a>
								</figure>



							</div>
						</div>

					</div>
				</div>


			</div>
		</div>

		<div class="clearfix"></div>

		<h3 class="black">สวยรองรับทุกอุปกรณ์ ดีไซน์ไม่เหมือนใคร</h3>

		ออกแบบธีม ที่มีความสวยงาม ที่แตกต่างกัน มีความทันสมัย สวยงาม และดูเป็นสากล ลูกค้าเลือกใช้งาน ปรับแต่งง่ายดายด้วยตนเอง


	</div>
</section>

<section class="section-06">

	<div class="container">
		<div class="row">

			<div class="text-center">
				<h2 class="black">Responsive
					<span class="red">Templates</span>
				</h2>
				<p>ทุกเทมเพลตถูกออกแบบมาให้สวยงาม มีเอกลักษณ์ ไม่ซ้ำใคร รองรับการแสดงผล ทุกหน้าจอ ทุกอุปกรณ์ ..... อัพเดทใหม่ พร้อมใช้งานทุกสัปดาห์</p>
			</div>

			<div class="col-md-3">

				<app-leftmenu></app-leftmenu>

			</div>
			<div class="col-md-9">

				<div class="row">

					<div class="col-md-6" *ngFor="let item of items01">
						<br>



						<figure class="snip1401">
							<img alt="เว็บไซต์พร้อมใช้ระบบเว็บในรูปแบบเว็บเทมเพลต" class="img-responsive" src="assets/upload/web-01.jpg" title="เว็บไซต์พร้อมใช้ระบบเว็บในรูปแบบเว็บเทมเพลต">
							<figcaption>
								<h3>SHOESMARTSHOP</h3>
								<p>Designed by : june
									<br> Package : Business Package</p>
							</figcaption>
							<i class="icon-magnifying-glass"></i>
							<a href="options" target="_blank" title="เว็บไซต์พร้อมใช้ระบบเว็บในรูปแบบเว็บเทมเพลต"></a>

						</figure>


						<div class="ratings">
							<span class="h4 black">SHOESMARTSHOP</span>
							<a class="pull-right btn btn-default" href="options" target="_blank" title="เว็บไซต์พร้อมใช้ระบบเว็บในรูปแบบเว็บเทมเพลต">
								<i class="fa fa-shopping-cart" aria-hidden="true"></i> ซื้อแพ็คเกจ</a>

						</div>

					</div>

				</div>
			</div>
		</div>
	</div>

</section>




<app-footer></app-footer>