.black {
    color: #1F1F1F;
}

.red {
    color: #EB1A24;
}

.white {
    color: #ffffff;
}

.text-black {
    color: #333333;
}

.progress {
    height: 1px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.progress-bar-danger {
    background-color: #ff000a;
}

.section-06 {
    padding: 40px 0px;
}

.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
    margin: 0em auto;
    padding: 0px 0px;
}

.section-05 {
    padding: 40px 0px;
    background: #f9f9f9;
}

.pc {
    overflow: hidden;
    width: 100%;
    height: 433px;
    padding: 22px 22px 117px 22px;
    text-align: center;
    background: url(assets/images/pc.png) no-repeat center;
    background-size: cover;
}

@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.snip0019 {
    color: #fff;
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    background: #000000;
    text-align: center;
}

figure.snip0019 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

figure.snip0019 img {
    opacity: 1;
    width: 100%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.snip0019 figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: left;
}

figure.snip0019 figcaption>div {
    float: left;
    height: 100%;
    overflow: hidden;
    width: 50%;
    position: relative;
}

figure.snip0019 figcaption::before {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    width: 2px;
    content: '';
    opacity: 0;
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}

figure.snip0019 h2,
figure.snip0019 p {
    margin: 0;
    padding: 20px;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    -webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
    transition: opacity 0.45s, -webkit-transform 0.45s, -moz-transform 0.45s, -o-transform 0.45s, transform 0.45s;
}

figure.snip0019 h2 {
    text-align: right;
    display: inline-block;
    word-spacing: -0.1em;
    font-weight: 300;
    text-transform: uppercase;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transform: translate3d(50%, 0%, 0);
    transform: translate3d(50%, 0%, 0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

figure.snip0019 h2 span {
    font-weight: 800;
}

figure.snip0019 p {
    display: block;
    bottom: 0;
    text-align: left;
    font-weight: 300;
    top: 0%;
    color: #fff;
    background: #ed1c24;
    -webkit-transform: translate3d(-50%, 0%, 0);
    transform: translate3d(-50%, 0%, 0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

figure.snip0019 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    color: #ffffff;
}

figure.snip0019:hover img {
    opacity: 0.7;
}

figure.snip0019:hover figcaption h2,
figure.snip0019:hover figcaption p {
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

figure.snip0019:hover figcaption h2 {
    opacity: 1;
}

figure.snip0019:hover figcaption p {
    opacity: 1;
}

figure.snip0019:hover figcaption::before {
    background: #ffffff;
    top: 0px;
    bottom: 0px;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.snip1401 {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    width: 100%;
    color: #ffffff;
    text-align: right;
    font-size: 16px;
    background-color: #000000;
}

.snip1401 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.snip1401 img {
    max-width: 100%;
    backface-visibility: hidden;
}

.snip1401 figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: 1;
    padding: 30px 0 30px 10px;
    background-color: #ed1c24;
    width: 50%;
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
}

.snip1401 figcaption:before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 100%;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 170px 170px 170px 0;
    border-color: transparent #ed1c24 transparent transparent;
}

.snip1401:after {
    position: absolute;
    bottom: 50%;
    right: 50%;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 170px 170px 0 170px;
    border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.snip1401 h3,
.snip1401 p {
    line-height: 1.5em;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
    margin: 0;
}

.snip1401 h3 {
    margin: 0 0 5px;
    line-height: 1.1em;
    font-weight: 900;
    font-size: 1.4em;
    opacity: 0.75;
}

.snip1401 p {
    font-size: 0.8em;
}

.snip1401 i {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 30px;
    font-size: 44px;
    color: #ffffff;
    opacity: 0;
}

.snip1401 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.snip1401:hover img,
.snip1401.hover img {
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: 0.5;
    opacity: 0.5;
}

.snip1401:hover:after,
.snip1401.hover:after,
.snip1401:hover figcaption,
.snip1401.hover figcaption,
.snip1401:hover i,
.snip1401.hover i {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}

@media(max-width:1024px) {
    .pc {
        overflow: hidden;
        width: 100%;
        height: 347px;
        padding: 22px 22px 117px 22px;
        text-align: center;
        background: url(assets/images/pc.png) no-repeat center;
        background-size: cover;
    }
}

@media(max-width:768px) {
    .pc {
        height: 263px;
        padding: 15px 15px 70px 15px;
    }
}

@media(max-width:414px) {
    .pc {
        height: 292px;
        padding: 15px 15px 70px 15px;
    }
}

@media(max-width:375px) {
    .pc {
        height: 262px;
        padding: 15px 15px 70px 15px;
    }
}