<section>

	<div style="text-align: center;">
		<!-- <p *ngFor="let item of items">
  footer works!
</p> -->

		<div class="container">

			<div class="link-effect-10 visible-lg visible-md">

				<a href="about" title="เว็บไซต์พร้อมใช้">
					เว็บไซต์พร้อมใช้
				</a>
				&nbsp;
				<a href="theme" title="เว็บสำเร็จรูป">
					เว็บสำเร็จรูป
				</a>
				&nbsp;
				<a href="about" title="รับออกแบบเว็บไซต์">
					รับออกแบบเว็บไซต์
				</a>
				&nbsp;
				<a href="portfolio" title="ผลงานทำเว็บไซต์">
					ผลงานทำเว็บไซต์
				</a>
				&nbsp;
				<a href="about" title="รับทำเว็บไซต์">
					รับทำเว็บไซต์
				</a>
				&nbsp;
				<a href="price" title="ราคาทำเว็บไซต์">
					ราคาทำเว็บไซต์
				</a>
				&nbsp;
				<a href="contact" title="ติดต่อบริษัทรับทำเว็บ">
					ติดต่อบริษัทรับทำเว็บ
				</a>
				&nbsp;
				<a href="help" title="เงื่อนไขการสมัครเปิดเว็บไซต์">
					เงื่อนไขการสมัครเปิดเว็บไซต์
				</a>

			</div>

			<div class="text-left link-effect-10 visible-sm visible-xs">

				<a href="about" title="เว็บไซต์พร้อมใช้">
					<span class="glyphicon glyphicon-link"></span> เว็บไซต์พร้อมใช้
				</a>
				<br>
				<a href="theme" title="เว็บสำเร็จรูป">
					<span class="glyphicon glyphicon-link"></span> เว็บสำเร็จรูป
				</a>
				<br>
				<a href="about" title="รับออกแบบเว็บไซต์">
					<span class="glyphicon glyphicon-link"></span> รับออกแบบเว็บไซต์
				</a>
				<br>
				<a href="portfolio" title="ผลงานทำเว็บไซต์">
					<span class="glyphicon glyphicon-link"></span> ผลงานทำเว็บไซต์
				</a>
				<br>
				<a href="about" title="รับทำเว็บไซต์">
					<span class="glyphicon glyphicon-link"></span> รับทำเว็บไซต์
				</a>
				<br>
				<a href="price" title="ราคาทำเว็บไซต์">
					<span class="glyphicon glyphicon-link"></span> ราคาทำเว็บไซต์
				</a>
				<br>
				<a href="contact" title="ติดต่อบริษัทรับทำเว็บ">
					<span class="glyphicon glyphicon-link"></span> ติดต่อบริษัทรับทำเว็บ
				</a>
				<br>
				<a href="help" title="เงื่อนไขการสมัครเปิดเว็บไซต์">
					<span class="glyphicon glyphicon-link"></span> เงื่อนไขการสมัครเปิดเว็บไซต์
				</a>

			</div>

			<br>




			<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like"
			 data-size="small" data-show-faces="true" data-share="true"></div>

			<img src="assets/images/logo-footer.png" alt="เว็บพร้อมใช้ ฟังก์ชั่นครบ ราคาถูก ใช้งานง่าย แสดงผลได้ทั้งคอมพิวเตอร์และมือถือ 100% รองรับทุกการใช้งาน"
			 title="เว็บพร้อมใช้ ฟังก์ชั่นครบ ราคาถูก ใช้งานง่าย แสดงผลได้ทั้งคอมพิวเตอร์และมือถือ 100% รองรับทุกการใช้งาน">

			<p class="copy-link">© 2018 By Channel Wide Computer Co., Ltd.
				<br class="visible-sm visible-xs"> All Rights Reserved</p>

		</div>
	</div>

</section>

<a href="#" class="scrollToTop">Scroll To Top</a>