h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Prompt', sans-serif;
    line-height: 1.3;
    color: inherit;
}

h1,
.h1,
h2,
.h2 {
    margin-top: 0px;
    margin-bottom: 20px;
}

h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: 0px;
    margin-bottom: 5px;
}

h3,
.h3 {
    font-size: 19px;
}

p {
    margin: 0 0 0px;
}

.no {
    margin: 0px;
    padding: 0px;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 10px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #999999;
    border-radius: 0px;
    -webkit-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.green {
    color: #BFFF00;
    font-size: 30px;
}

.text-orange {
    color: #FF5A26;
}

.text-green {
    color: #2DB200;
}

.text-yellow {
    color: #FFFF72;
}

.text-yellow-01 {
    color: #FFC10D;
}

.text-black {
    color: #333333;
}

.d-box-orange {
    display: block;
    padding: 5px;
    margin: 0px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.42857143;
    color: #ffffff;
    background-color: #F7931E;
    border: 1px solid #F7931E;
    border-radius: 0px;
    -webkit-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.d-box-red {
    display: block;
    padding: 5px;
    margin: 0px;
    text-align: center;
    font-weight: 300;
    line-height: 1.42857143;
    color: #ffffff;
    background-color: #EB1A24;
    border: 1px solid #EB1A24;
    border-radius: 50px;
    -webkit-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.d-box-ffffff {
    display: block;
    padding: 5px;
    margin: 0px;
    text-align: center;
    font-weight: 300;
    line-height: 1.42857143;
    color: #858585;
    background-color: #ffffff;
    border: 1px solid #858585;
    border-radius: 50px;
    -webkit-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.d-box-green {
    display: block;
    padding: 5px;
    margin: 0px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.42857143;
    color: #ffffff;
    background-color: #2DB200;
    border: 1px solid #2DB200;
    border-radius: 0px;
    -webkit-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.d-box-black {
    display: block;
    padding: 5px;
    margin: 0px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.42857143;
    color: #ffffff;
    background-color: #212121;
    border: 1px solid #212121;
    border-radius: 0px;
    -webkit-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.d-box-web {
    display: block;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.42857143;
    color: #858585;
    background-color: #ffffff;
    border-bottom: 1px solid #555555;
    border-radius: 0px;
    -webkit-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.btn-lg {
    font-size: 20px;
    border-radius: 100px;
    padding: 10px 65px;
}

.btn-success {
    color: #fff;
    background-color: #3F8A0D;
    border-color: #4cae4c;
}

.btn-success:hover {
    color: #3f8a0d;
    background-color: #ffffff;
    border-color: #3f8a0d;
}

.btn-warning {
    color: #3F8A0D;
    background-color: #ffffff;
    border: 2px solid #F96B02;
}

.btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border: 2px solid #F96B02;
}

.btn-default {
    color: #fff;
    background-color: #444444;
    border: 2px solid #444444;
    font-size: 18px;
    padding: 6px 36px;
    border-radius: 100px;
}

.btn-default:hover {
    color: #444444;
    background-color: #ffffff;
    border: 2px solid #444444;
}

.btn-danger {
    color: #fff;
    background-color: #ed1c24;
    border-color: #ed1c24;
    width: auto;
}

.btn-danger:hover {
    color: #ed1c24;
    background-color: #ffffff;
    border-color: #ed1c24;
}

.btn-info {
    color: #202020;
    background-color: transparent;
    border: 2px solid #ea222c;
    padding: 10px 30px;
    border-radius: 100px;
}

.btn-info:hover {
    color: #ffffff;
    background-color: #af0009;
    border: 2px solid #af0009;
}

.text-success {
    color: #3F8A0C;
}

.section-01 {
    padding: 40px 0px;
}

.section-02 {
    padding: 40px 0px;
    background: #BCBCBC;
}

.section-03 {
    padding: 40px 0px;
}

.section-04 {
    padding: 40px 0px;
}

.section-05 {
    padding: 40px 0px;
    background: #3F8A0D;
}

.section-06 {
    padding: 40px 0px;
}

.black {
    color: #1F1F1F;
}

.red {
    color: #EB1A24;
}

.white {
    color: #ffffff;
}

.pk {
    overflow: hidden;
    width: 100%;
    height: 534px;
    padding: 15px 70px 15px 30px;
    text-align: center;
    background-size: cover;
}

.pk-h {
    overflow: hidden;
    height: 265px;
}

.pk-f {
    overflow: hidden;
    height: 150px;
}

.pk-free {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    margin-top: 20px;
    font-size: 90px;
    color: #333333;
}

.pk-d {
    text-align: left;
    font-style: italic;
    padding-left: 5%;
}

.pk-li {
    margin-bottom: 0px;
    color: #868686;
}

.pk-name {
    margin-top: 10px;
    font-size: 25px;
    margin-bottom: 15px;
    color: #000;
}

.pk-price {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    margin-top: 20px;
    font-size: 25px;
    color: #333333;
}

.price-w {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #fff;
}

.price-w-l2 {
    font-size: 35px;
    font-weight: 500;
    color: #fff;
}

.price {
    font-size: 40px;
    font-weight: 500;
}

.star {
    font-size: 25px;
    color: #fff;
}

label {
    font-size: 18px;
    color: #333333;
    font-weight: 500;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid transparent;
    border-bottom: 1px solid #858585;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgb(255, 255, 255);
    box-shadow: inset 0 1px 1px rgb(255, 255, 255);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

textarea {
    overflow: auto;
}

textarea.form-control {
    height: auto;
}

// .............ef....................
#scroll-dp-lp .scroll-image-lp img {
    max-width: 100%;
    height: auto;
    width: auto;
    border: 0;
    vertical-align: top;
}

#scroll-dp-lp {
    height: 280px;
    overflow: hidden;
    border-radius: 0px;
    box-shadow: 0 0 5px #ddd;
    margin-bottom: 25px;
}

#scroll-dp-lp .scroll-image-lp a {
    display: block;
    position: relative;
}

.scroll-bg-lp {
    display: block;
    position: absolute;
    width: 100%;
    height: 285px;
    top: 0px;
    left: 0px;
    background-attachment: scroll;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-position 7s ease 0s;
}

.scroll-demo-lp:hover .scroll-bg-lp {
    background-position: center 100%;
}

#scroll-dp-lp span.label {
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    background-color: #f1592a;
    height: 80px;
    line-height: 20px;
    width: 80px;
    top: 50px;
    right: 35px;
    position: absolute;
    text-align: center;
    border-radius: 50%;
    padding-top: 20px;
    z-index: 105;
}

.container01 {
    position: relative;
    width: 100%;
}

.image01 {
    display: block;
    width: 100%;
    height: auto;
}

.overlay01 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.4);
}

.container01:hover .overlay01 {
    opacity: 1;
}

.text-box {
    background-color: transparent;
    border: solid 2px #fff;
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius: 100%;
}

.text01 {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

@media(max-width:1024px) {}

@media(max-width:768px) {
    .pk {
        padding: 15px 60px 15px 20px;
    }
}

@media(max-width:414px) {}